@font-face {
    font-family: 'Adelle';
    src: url('../fonts/adelle/adelle_reg-webfont.woff') format('woff');
}

body{
    margin: 0;
    font-family: 'Adelle';
    color: #2f3e46;
}

h1{
    margin: 0;
}

section{
    margin: 3rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: #2f3e46;
    color: #cad2c5;
}

.nav{
    display: flex;
    gap: 2rem;
}

.nav__link{
    color: #cad2c5;
    text-decoration: none;
}

.code{
    padding: 4px;
    background-color: #cad2c5;
}

.branch__command {
    background-color: #cad2c5;
    padding: 3rem;
    max-width: fit-content;
}
.task-3 {
    background-color: #a3b18a;
    max-width: fit-content;
}

.p2 {
    color: rgba(231, 49, 49, 0.831);
}

