* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
 
.header {
  width: 100%;
  min-height: 40px;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center; 
  margin-top: -20px;
}

.logo {
  width: 100px;
  cursor: pointer;
  margin: 30px 0;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

nav ul li a:hover{
  color: rgb(255, 0, 0);
}

.active{
  color: red;
  font-weight: bold;
}

.area {
  padding: 20px;
  background-color: black;
  color: white;display: flex;
  justify-content: center;
  width: 50%;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  margin-top: 50px;
}

.area li {
  list-style-type: auto;
  padding: 10px;
}

h3 {
font-size: 2rem;
padding: 30px;
width: 50%;
}

.list-how-to {
  width: 100%;

}
