html {
  height: 100vh;
}

body {
  background-color: #231f20;
  height: 100%;
  font-family: adelle;
  margin: 0;
}

header {
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  height: 30%;
  padding: 64px;
  text-align: center;
}

.git-logo {
  background-color: #231f20;
  background-image: url('../images/git-logo.png') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50%;
  width: auto;
}

/*---- Stash ----*/

.nav-bar-stash {
  cursor: pointer;
  text-align: center;
  border-top: 1px solid #705D56;
  border-bottom: 1px solid #705D56;
  transition: 1s;
}

.nav-bar-stash:hover {
 box-shadow: 0 0 30px #ffffff;
}

.nav-bar-stash ul a{
  color: #ffffff;
  font-family: adelle;
  text-decoration: none;
  padding: 3%;
}


.nav-bar-stash ul a:hover{
  text-decoration: underline;
}


#Stash-link {
  color: #F08A4B;
}

.info-box-stash {
  color: #ffffff;
  text-align: center;
  padding: 5%;
  border: 1px solid #705D56;
  width: 50%;
  margin: auto;
  margin-top: 5%;
}

.important-words-stash {
  font-style: italic;
  color: #F08A4B;
}