body {
    color: #fff;
}

h1 {
    margin: 0;
}

code {
    background-color: rgb(68, 67, 67);
    max-width: fit-content;
    padding: 2px;
}

.nav-container {
    display: flex;
    font-size: 16px;
    text-decoration: none;
    text-align: start;
 
}

.main {
    display: flex;
    flex-direction: column;
    margin: 48px auto 56px auto;
    max-width: 60ch;
}

.main-item {
    display: flex;
    flex-direction: column;
}

a,
a:hover,
a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: lightblue;
    transition: 0.5s;
}