html {
    height: 100vh;
  }
  
  body {
    background-color: #231f20;
    height: 100%;
    font-family: adelle;
    margin: 0;
  }
  
  header {
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
    height: 30%;
    padding: 64px;
    text-align: center;
    position: relative;
  }
  
  .git-logo {
    background-color: #231f20;
    background-image: url('../images/git-logo.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50%;
    width: auto;
  }
  
  /*---- Stash ----*/
  
  .nav-bar-stash { 
    border-top: 1px solid #705D56;
    border-bottom: 1px solid #705D56;
    cursor: pointer;
    text-align: center;
    transition: 1s;
  }
  
  .nav-bar-stash:hover {
   box-shadow: 0 0 30px #ffffff;
  }
  
  .nav-bar-stash ul a {
    color: #ffffff;
    font-family: adelle; 
    padding: 3%;
    text-decoration: none;
  }
  
  
  .nav-bar-stash ul a:hover {
    text-decoration: underline;
  }
  
  
  #Stash-link {
    color: #F08A4B;
  }
  
  .info-box-stash {
    color: #ffffff;
    border: 1px solid #705D56;
    margin: auto;
    margin-top: 5%;
    padding: 5%;
    text-align: center;
    transition: 1s;
    width: 50%;
  }
  
  .info-box-stash:hover {
    box-shadow: 0 0 30px #ffffff;
  }
  
  .important-words-stash { 
    color: #F08A4B;
    font-style: italic;
  }
  
  .header-stash {
    padding: 10%;
    position: relative;
  }
  
  .header-stash:before { 
    background-image: url(../images/treasure-chest-09.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
    background-size: cover;
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  footer {
    border-top: 1px solid #705D56;
    border-bottom: 1px solid #705D56;
    color: #ffffff;
    margin-top: 5%;
    padding: 5%;
    text-align: center;
    transition: 1s;
  }
  
  footer:hover {
    box-shadow: 0 0 30px #ffffff;
  }
  