@font-face {
  font-family: adelle;
  font-weight: 400;
  src: url('../fonts/adelle/adelle_reg-webfont.woff') format('woff'),
       url('../fonts/adelle/adelle_reg-webfont.woff2') format('woff2');
}

@font-face {
  font-family: adelle;
  font-weight: 700;
  src: url('../fonts/adelle/adelle_bold-webfont.woff') format('woff'),
       url('../fonts/adelle/adelle_bold-webfont.woff2') format('woff2');
}

